prebuilds/fullsdk-linux
prebuilds/fullsdk-darwin
out
*.iml
.gradle
build
.idea
.idea/
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
memory
# Ignoring the persistant lockfile until kotlin.js vulnerabilities are fixed
# yarn.lock # but absent yarn.lock leads to inconsistent builds on CI, so let's keep it